<%-include ('partials/head.ejs'); %>

    <body>
        <%-include ('partials/navbar.ejs'); %>
            <div class="container">
                <div class="card" id="formulario">
                    <div class="card-header">
                        <h3>Realizar pergunta</h3>
                    </div>
                    <div class="card-body">
                        <form>

                            <label>Título</label>
                            <input type="text" placeholder="Título" class="form-control">
                            <br>

                            <label>Descrição</label>
                            <textarea class="form-control" placeholder="Descreva sua pergunta"></textarea>
                            <br>

                            <button class="btn">Perguntar</button>

                        </form>
                    </div>
                </div>
            </div>

            <%-include ('partials/footer.ejs'); %>

























    </body>