

body{
     background-color: #4a4951; 
     color: aliceblue;
    
}

#formulario{
    margin-top: 5vh;
}

.card{
    color: #4a4951;
}


.btn{
    background-color: #905d7e;
    color: aliceblue;
   
}

